header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
}

header ul{
    padding:0;
    margin: 0;
    text-align: center;
    font-size: 0;
}

header ul li{
    display: inline-block;  
}

header ul li a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 250ms, padding 250ms;
}
header.top ul li a {
    padding-top: 15px;
    padding-bottom: 15px;
}

header ul li a:hover, 
header ul li.active a{
    color: #7952b3;
    text-decoration: none;
}


.lp-content{
    border: 1px dashed red;
    padding: 40px 0;
}

.lp-content h2 {
    text-align: center;
    color: #7952b3;
    margin-bottom: 20px;
}


footer {
    background: #7952b3;
    padding: 25px;
    color: #fff;
    text-align: center;
}

footer p {
    margin-bottom: 0;
}

#slideshow .lp-content {
    padding: 0;
}

.owl-dots{
    position: absolute;
    left 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.owl-dots button.owl-dot  {
    display: inline-block;
    padding: 0 10px !important;
    opacity: 0.75;
    
}

.owl-dots button.owl-dot:focus{
    outline: none;
}

.owl-dots button.owl-dot span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 100%;
    transition: background-color 0.25s;
}

.owl-dots button.owl-dot.active span {
    background: #ff0000;
}


.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background: #fff;
    margin-top: -20px;
    border-radius: 100%;
    opacity: 0.75;
    text-align: center;
    transition: opacity .25s;
}


.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
    opacity: 0.95;
}

.owl-carousel .owl-nav button.owl-prev:focus,
.owl-carousel .owl-nav button.owl-next:focus {
   outline: none;
}

.owl-carousel .owl-nav button.owl-prev {
    left: 25px;
    
}
.owl-carousel .owl-nav button.owl-next {
    right: 25px;
}

.owl-carousel .owl-nav button.owl-prev i,
.owl-carousel .owl-nav button.owl-next i {
    color: #ff0000;
    font-size: 24px;
    line-height: 40px;

}


/* Табулятор */

.lp-tabs {
    padding: 20px;
}

.lp-tabs .lp-tabs-titles ul {
    padding: 0;
    margin: 0 0 20px 0;
    text-align: center;
}

.lp-tabs .lp-tabs-titles ul li {
    display: inline-block;
    background: #ccc;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: color .25s, background-color .25s;   
}
.lp-tabs .lp-tabs-titles ul li:hover,
.lp-tabs .lp-tabs-titles ul li.active{
    background: #7952b3;
    color: #fff;
}
.lp-tabs .lp-tabs-content {
    position: relative;
}

.lp-tabs .lp-tabs-content .lp-tab {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: none;
}

.lp-tabs .lp-tabs-footer{
    background: #7952b3;
    padding: 25px ;
    color: #0000ff;
    text-align: center;
}

.lp-modals {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    display: none;
}

.lp-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

#services .lp-tab .btn {
    background: #7952b3;
    border-color: transparent;
}

#services .lp-tab .btn:focus {
    box-shadow: none;
}

#services .lp-tab .btn:hover {
    background: #60418e;
}

/*  Цены */

#prices table th {
    background: #7952b3;
    color: #fff;
    -webkit-user-select: none;
}

#prices table th[ng-click] {
    cursor: pointer;
}

#prices table td i {
    color: red;
}

#prices .lp-prices-loader {
    text-align: center;
}

#prices .lp-prices-loader i {
    display: inline-block;
    font-size: 2em;
    color: #ccc;
    animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

/*Карта */

#lp-map {
    height: 400px;
}















